<div *ngFor="let item of itemService.allItem">
  <div class="row" style="border: solid; border-radius: 5px; margin-top: 30px; padding-top: 12px">
    <div class="col-sm-1" >{{item.id}}</div>
    <div class="col-sm-5">{{item.title}}</div>
    <div class="col-sm-3">STATUS: {{item.status}}</div>
    <a class="btn text-primary col-sm-1" (click)="editItem(item)">
      EDIT <i class="glyphicon glyphicon-pencil"></i>
    </a>
    <a class="btn text-danger col-sm-1" (click)="deleteItem(item.id)">
      DELETE <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
</div>

